* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow-x: hidden
}

nav {
    overflow: hidden;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 70px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #F44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li a:hover::after {
    width: 100%;
}

.text-box {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

text-box hl {
    font-size: 10px
        /* 40px/16=2.5em */
        padding: auto;
}

.tejas {
    font-size: 120px;
    padding: 20px;
}

.text-box p {
    margin: 12px 0 40px;
    font-size: 18px;
    color: #fff;
    padding: 15px;
}

.mail-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 14px 25px;
    font-size: 13px;
    background: transparent;
    position: relative;
}

.lnkdn-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 14px 39px;
    font-size: 13px;
    background: transparent;
    position: relative;
}

.lnkdn-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.mail-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .header {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .text-box h1 {
        font-size: 20px;
        height: 100%;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .left.right {
        font-size: 20px;
        align-items: center;
    }
}

.aboutus {
    display: flex;
}

.left {
    height: 100%;
    width: 50%;
    color: aliceblue;
    align-items: center;
    display: flex;
    flex-direction: column;
    /*    align-items: center;*/
}

.right {
    color: aliceblue;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    height: 40rem;
}

li {
    padding: 5px;
    margin: 5px;
    font-size: 15px;
}

.btn-about {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    /*     border: 1px solid #fff; */
    /* padding: 12px 34px; */
    font-size: 15px;
    /* background: transparent; */
    position: relative;
}

.btn-about:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.demo {
    color: aliceblue;
    align-items: center;
    justify-content: center;
    align-items: baseline;
    margin: 30px;
}

.demoform {
    text-align: left;
    background-color: #a3a3c2;
    padding: 15px;
    opacity: 0.9;
    width: fit-content;
    margin-left: 18vw;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 5px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.radio-btn {
    width: 100%;
    /*    padding: 12px 20px;*/
    margin: 10px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

.date {
    /* padding: 10px; */
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit {
    width: 100%;
    background-color: #33334d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contactF {
    text-align: left;
    background-color: #a3a3c2;
    padding: 15px;
    opacity: 0.9;
    width: 50%;
    margin-left: 22vw;
}

.submit:hover {
    background-color: #f44336;
}

.contact {
    color: aliceblue;
    align-items: center;
    justify-content: center;
    align-items: baseline;
    margin: 30px;
}

.ull {
    padding: 20px;
    text-align: start;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    /*
  box-shadow: inset 0 0 3px white; 
  border-radius: 1px;
*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f44336;
}

@media(max-width:700px) {
    .aboutus {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        margin: 10px;
    }

    .right {
        overflow: scroll;
        display: block;
        width: 90%;
        padding: 15px;
    }

    .left {
        display: block;
        width: 90%;
        padding: 10px;
    }

    .selfImg {
        align-items: center;
        margin: 30px;
    }

    .demoform {
        width: auto;
        margin-left: -1vw;
    }

    .contactF {
        width: 90%;
        margin-left: 1vw;
    }
}

.selfImg {
    display: flex;
    align-items: center;
}
